.profile-main {
  background-color: #dad7cd;
  min-height: 100vh;
  padding-top: 8vh;
  user-select: none;
  padding-bottom: 15vh;
}

.profile-container {
  width: 80%;
  margin: auto;
}

.profile-heading {
  width: fit-content;
  color: black;
  font-weight: 500;
  font-size: calc(1rem + 2vw);
  margin-bottom: 20px;
}

.profile-heading:after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 4px solid rgba(88, 129, 87, 0.893);
}

.prof-cnt {
  width: 100%;
}

.profile-left {
  width: 60%;
}

.profile-right {
  padding-top: 20px;
  margin-left: 50px;
  width: 30%;
}

.profile-right .profile-main-card {
  margin: auto;
}

.profile-attributes {
  color: #3a5a40;
  margin-top: 30px;
  margin-left: 30px;
}

.profile-pinfo-heading {
  font-size: 20px;
  font-weight: 600;
}

.profile-pinfos {
  color: #3a5a40;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 26px;
}

.profile-pinfos:after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 4px;
  border-bottom: 2px solid #344e41;
}

p + .address-box {
  margin-bottom: 10px;
}

.address-box {
  border: 1.1px solid #344e41;
  padding: 15px;
  width: 80%;
  min-height: 150px;
  background-color: white;
  border-radius: 6px;
}

.links-box {
  border: 1.1px solid #344e41;
  padding: 10px 15px;
  width: 50%;
  min-height: 100px;
  background-color: white;
  border-radius: 6px;
}

.interest-box {
  border: 1px solid #344e41;
  background-color: #a3b18a;
  padding: 4px 10px;
  border-radius: 8px;
  color: black;
}

.profile-subheading {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.profile-values {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.resume-button {
  color: white;
  background-color: #3a5a40;
  font-size: 18px;
  padding: 6px 20px;
  border: none;
  border-radius: 14px;
}

.update-button-div {
  text-align: center;
  padding-top: 100px;
}

.update-button {
  color: white;
  background-color: #3A5A40;
  border: none;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 10px 80px;
  cursor: pointer;
}

.publication-cnt {
  width: 500px;
}